body {
      margin: 0;
      overflow: hidden;
      background: radial-gradient(ellipse at bottom, #0b0f2b 0%, #000000 100%);
      color: #fff;
      font-family: "Zen Maru Gothic", sans-serif;
      text-align: center;
      height: 100vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /*一番下に配置*/
}

.content {
    position: relative;
    z-index: 1;
    top: 40%;
    transform: translateY(-40%);
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fff8dc;
    text-shadow: 0 0 20px rgba(255, 255, 200, 0.5);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);/*最後が透明度*/
    color: white;
    font-size: 1.2em;
    padding: 15px 40px;
    margin-top: 12px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
    width: 15rem;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
}
